@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background-color: #f6d050;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 28%;
  padding: 15px;
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 7px 7px 1px #120012;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    border-radius: 14px;
    width: 100%;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 12px;
  justify-content: center;
}

.learning-span {
  background-color: #f6d050;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: 900;
  margin: 20px 0;
}
.date-span {
  font-weight: 600;
  color: #202020c1;
}

p {
  color: #828182;
  font-weight: 500;
}
.user-name {
  display: flex;
  align-items: center;
  gap: 20px;

  & p {
    font-weight: 800;
    color: #120012;
  }
}

h2 {
  font-weight: 800;

  &:hover {
    color: #fddc70;
    cursor: pointer;
  }
}

@media (max-width: 780px) {
  .card {
    width: 80%;
  }

  .card-image {
    width: 100%;

    & img {
      width: 100%;
    }
  }
}
